<a href="https://colab.research.google.com/github/Cubit0-de-hielo/cubito/blob/main/clase_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random

print(random.randint(3, 9))

8

In [ ]:
import random

mylist = ["apple", "banana", "cherry"]

print(random.choice(mylist))

apple

In [ ]:
A=[[1,2,3],[4,5,6],[7,8,9]]
for i in range(len(A)):
 for j in range(len(A)):
      print(A[i][j])

1
2
3
4
5
6
7
8
9

In [ ]:
A=[[1,2,3],[4,5,6],[7,8,9]]
for j in range(len(A)):
  print(A[0][j])
  print(A[1][j])
  print(A[2][j])

1
4
7
2
5
8
3
6
9

In [ ]:
A=[[1,2,3],[4,5,6],[7,8,9]]
B=[[10,11,12],[13,14,15],[16,17,18]]
for i in range(len(A)):
 for j in range(len(A)):
  print(A[i][j]+B[i][j])

11
13
15
17
19
21
23
25
27

In [ ]:
A=[5,3,1]
5>3
A=[3,5,1]
1>5
A=[3,1,5]
1>5
A=[1,3,5]
print(A)

[1, 3, 5]

In [1]:
A=[5,2,9,6,7,4,10]
n=len(A)
for i in range(n-1):
 if A[i]>A[i*1]:
  print(A)
  aux=A[i+1]
  A[i+1]=A[i]
  A[i]=aux
  print(A)