<a href="https://colab.research.google.com/github/Cubit0-de-hielo/cubito/blob/main/clase_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
DIC = {
    "brand": "ford",
    "model" : "mustang",
    "year" : 1996,
    "year" : 2020
}
print(DIC)

{'brand': 'ford', 'model': 'mustang', 'year': 2020}

In [ ]:
diccionario = {"python": 2.7, "zope": 2.13, "plone": 5.7}

l=[]
for i in diccionario.keys():
    l.append(diccionario[i])

print(i)
print(l)

plone
[2.7, 2.13, 5.7]

In [ ]:
import pandas as pd

datos = {
    "Nombre": ["Juan", "María", "Pedro", "Luisa"],
    "Edad": [25, 28, 22, 30],
    "Ciudad": ["Madrid", "Barcelona", "Valencia", "Sevilla"]
}
dataframe = pd.DataFrame(datos)
print(dataframe)

  Nombre  Edad     Ciudad
0   Juan    25     Madrid
1  María    28  Barcelona
2  Pedro    22   Valencia
3  Luisa    30    Sevilla

In [ ]:
# Crear una tupla
mi_tupla = (1, 2, 3, "Hola", True)
print(mi_tupla)

(1, 2, 3, 'Hola', True)
(1, 2, 3, 'Hola', True)

In [ ]:
# Acceder a elementos de la tupla por índice
print(mi_tupla[0])  # Imprime: 1
print(mi_tupla[3])  # Imprime: Hola

1
Hola

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [ ]:
frutas = ("platano", "manzana", "platano", "fresa", "arandano", "naranja")
if "manzana" in frutas:
  print("Esta mas valato que en corea")

Esta mas valato que en corea

In [ ]:
def mi_funcion():
  print("Hola, te saludo desde la función")

In [ ]:
mi_funcion()

Hola, te saludo desde la función

In [ ]:
def mi_funcion_nueva(fname):
    print("Hola "+fname +" te saludo desde la función")
mi_funcion_nueva("Cubio de hielo")

Hola Cubio de hielo te saludo desde la función

In [ ]:
def Nombre(fname,lname):
    print("Hola "+fname + ", " + lname+ " te saludo desde la función")

Nombre("Cubito de hielo","Alonzo corazon de tigre")

Hola Cubito de hielo, Alonzo corazon de tigre te saludo desde la función

In [ ]:
def mi_funcion(*kids):
    print("El niño menor es " + kids[2])

mi_funcion("Emil", "Tobias", "Linus", "Hanna")

El niño menor es Linus

In [8]:
A=[1,2,3,4,5]
B=[6,7,8,9,10]

def sum_vec(A,B):

  if len(A) == len(B):
    n=len(A)
    c=n*[0.0]
    for i in range(n):
     c[i]=A[i]+B[i]
    print(c)
  else:
     print("no se sumar")

sum_vec(A,B)

[7, 9, 11, 13, 15]