<a href="https://colab.research.google.com/github/Cubit0-de-hielo/cubito/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
x = lambda a : a * 5
print(x(20))

x = lambda a, b : a * b
print(x(5, 6))

x = lambda a, b, c : a + b + c
print(x(5, 6, 2))
#intena no meter mas de cinco valores para que no vea grotesco

100
30
13

In [8]:
def mifunc(n):
  return lambda a : a * n
midoble = mifunc(2)
print(midoble(11))

22

In [9]:
def mifunc(n):
  return lambda a : a * n

MiDoble = mifunc(2)
MiTriple = mifunc(3)

print(MiDoble(11))
print(MiTriple(11))

22
33

In [43]:
num = list(range(1,101))
 for i in num
  i%2==0
  print(i)

IndentationError: ignored

In [40]:
from os import name
name=cubito
carac=["!","#","$","%","&","/"]
for letra in name:
 print(letra)

NameError: ignored

In [62]:
A=[[1,2,3],[4,5,6],[7,8,9]]
for i in range(len(A)):
 for j in range (len(A)):
  print(A[i][j])
  print(A[0][j])
print(A[0][0],A[0][1],A[0][2])

1
1
2
2
3
3
4
1
5
2
6
3
7
1
8
2
9
3
1 2 3